* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.section-one {
  position: relative;
  height: 100vh;
  width: 100vw;
  top: -10px;
  left: -10px;
}

.section-one img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.section-one h1 {
  position: absolute;
  top: 5px;
  left: 40px;
  margin-top: 30px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 100px;
  font-weight: lighter;
}

.section-one p {
  position: absolute;
  bottom: 20px;
  right: 80px;
  color: white;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.356);
  padding: 30px;
  border-radius: 50%;
  border: 5px double white;
}

.section-two {
  position: relative;
  height: 100vh;
  width: 100vw;
  /* top: -10px;
  left: -10px; */
}

.section-two img {
  position: relative;
  height: 70vh;
  width: 100vw;
  object-fit: cover;
  object-position: 3px 3px;
  top: -13px;
  left: -15px;
}

.section-two div {
  width: 100vw;
  background-color: rgb(44, 44, 44);
  height: 35vh;
  position: relative;
  top: -37px;
  left: -8px;
  color: white;
}

.section-two h2 {
  width: 50%;
  float: left;
  position: relative;
  left: 50px;
  top: 30px;
  font-size: 50px;
}

.section-two p {
  position: relative;
  top: 30px;
  width: 50%;
  float: right;
  padding-right: 70px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
}

.section-three {
  width: 100%;
  height: 97vh;
  background-color: rgb(44, 44, 44);
  position: relative;
  top: -25px;
  left: -10px;
}

.section-three h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  margin: auto;
  margin-bottom: 20px;
  color: white;
  font-weight: 100;
}

.menu-div {
  display: flex;
}

.menu-div img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.menu-div h4 {
  text-align: center;
  position: relative;
  bottom: 330px;
  color: white;
  font-size: 30px;
}

.menu-div h4:hover {
  color: black;
  background-color: wheat;
  cursor: pointer;
}

.wine h4 {
  bottom: 345px;
}

a {
  text-decoration: none;
}

.section-four {
  width: 100%;
  height: 97vh;
  background-color: rgb(44, 44, 44);
  position: relative;
  top: -25px;
  left: -10px;
}

.section-four img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.section-four h3 {
  position: absolute;
  color: white;
  top: 35vh;
  left: 40px;
  font-size: 60px;
  font-weight: 100;
}

.div-four {
  background-color: rgb(44, 44, 44);
  width: 40%;
  height: 70vh;
  position: absolute;
  top: 50px;
  right: 100px;
  padding: 20px 30px 20px 40px;
  line-height: 22px;
  color: white;
}

.div-four h4 {
  margin-bottom: 40px;
}