body {
  background: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/131/436/original/footer.png?1720025270);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-section {
  max-width: 50%;
  color: black;
  background-color: rgba(255, 255, 255, 0.479);
  padding: 30px 50px;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 0 0 30px;
}
.top-section h2,
h3 {
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  line-height: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.top-section h2 {
  font-size: 30px;
}
.top-section h3 {
  font-size: 20px;
}
legend {
  font-weight: bold;
  font-size: 20px;
}
fieldset {
  border: 2px solid white;
  border-radius: 10px;
}
.reservation-section {
  padding-bottom: 20px;
}
.reservation-section input {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
  border-radius: 8px;
  border: none;
}
.reservation-section label {
  padding-left: 30px;
}
.date-input,
.time-input {
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
}
.guest-input {
  width: 10%;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
}
.contacts-section {
  padding-bottom: 20px;
}
.contacts-section div {
  padding-bottom: 7px;
}
.contacts-section input {
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  border: none;
}
.name,
.email {
  width: 300px;
}
.number {
  width: 241px;
}
.contacts-section label {
  padding-left: 30px;
  padding-right: 25px;
}
.special-section {
  padding-bottom: 20px;
}
.special-section div {
  padding-bottom: 7px;
}
.special-section label {
  padding-left: 30px;
}
.special-section input {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
  border-radius: 8px;
  border: none;
}
textarea {
  width: 85%;
  height: 50px;
  display: block;
  margin-left: 60px;
  margin-top: 5px;
  border-radius: 20px;
  border: none;
  padding: 10px;
}
.submit {
  display: block;
  margin: 0 auto;
  padding: 10px 50px;
  border-radius: 30px;
  border: none;
}
.submit:hover {
  box-shadow: 0 0 20px;
  cursor: pointer;
}
.contact-section p {
  padding-left: 40px;
  font-size: 18px;
}
.location-section h5 {
  padding-left: 40px;
  font-size: 18px;
  font-weight: normal;
}
.operation-section p {
  padding-left: 40px;
}
.note-section p {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
footer button {
  display: block;
  margin: 0 auto;
  padding: 10px 50px;
  border-radius: 30px;
  border: none;
}
footer button:hover {
  box-shadow: 0 0 20px;
  cursor: pointer;
}
.back-home {
  display: block;
  margin: 0 auto;
  padding: 10px 50px;
  border-radius: 30px;
  border: none;
}
a {
  text-decoration: none;
  color: black;
}
.back-home:hover {
  box-shadow: 0 0 20px;
  cursor: pointer;
}
.hidden-class {
  display: none;
}
.reservation-confirmation {
  width: 50%;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.37);
  margin: auto;
  border-radius: 30px;
  margin-top: 90px;
}
.reservation-confirmation h1 {
  color: white;
  text-align: center;
  padding-top: 20px;
}
.reservation-confirmation h2 {
  color: white;
  text-align: center;
  padding-top: 15px;
}
.reservation-confirmation p {
  line-height: 15px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
#dateError {
  font-size: 15px;
  border-radius: 10px;
  padding: 5px 50px;
  color: red;
}
.dateValidation {
  text-align: center;
  padding: 5px 0;
}
